@model IEnumerable<vidly.Models.Customer> 
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
<hr />
<table class="table table-bordered table-hover">
    @{ 
        var customerCount = Model.Count();
    }
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount</th>
        </tr>
    </thead>
   @{ 
       if(customerCount > 0)
       {
           <tbody>
               @{ 
                   foreach (var customer in Model)
                   {
                              <tr>
                                  <td>
                                      @Html.ActionLink(customer.Name, "edit", "customers", new { id = customer.Id },
                                       null)
                                  </td>
                                  <td>@customer.membershipType.Name</td>
                                  <td>@customer.membershipType.DiscountRate%</td>
                              </tr>
                   }
               }
           </tbody>
        }
        else
        {
            <tr>
                <td>Customer List is Empty</td>
            </tr>
        }

   }
</table>

